body{
    background-color:lightpink;   
}
#body1{background-color: rgb(209, 226, 236);}
#body2{background-color: rgb(230, 171, 63);}
#body3{background-color: rgb(245, 229, 12);}
#body4{background-color: white;}

h1{ 
    color:white;
    text-align: center; 
    text-shadow: 2px 2px black;
}
#h1candy{color:violet;
    text-align: center; 
    text-shadow: 2px 2px purple} 

h2 {color: white; text-align: center; text-decoration:overline; text-decoration-color: purple;}

#h2candy{color: pink; text-align: center; text-decoration:overline; text-decoration-color: violet ;text-shadow: 2px 2px purple}
#h2blue{color: blue; text-align: center; text-decoration:overline; text-decoration-color:cornflowerblue;text-shadow: 2px 2px white}
#h2cats{color: white; text-align: center; text-decoration:overline; text-decoration-color:rgb(218, 157, 26);text-shadow: 2px 2px orangered}
#h2sunny{color: black; text-align: center; text-decoration:overline; text-decoration-color:rgb(218, 157, 26);text-shadow: 2px 2px orange}


#blueskyinfo{ color: black; font-size: larger; text-decoration:overline underline; text-decoration-style: wavy; text-decoration-color:cornflowerblue;
text-align:center;}
#catsinfo{ color: black; font-size: larger; text-decoration:overline underline; text-decoration-style: wavy; text-decoration-color:orangered;
    text-align:center;}
#sunnyinfo{color: black; font-size: larger; text-decoration:overline underline; text-decoration-style:wavy; text-decoration-color:rgb(236, 154, 2);
    text-align:center;}
#candyinfo{color: black; font-size: larger; text-decoration:overline underline; text-decoration-style:wavy; text-decoration-color:rgb(245, 200, 207);
    text-align:center;}

.title1{
    border: 20px;
    background-color:mediumslateblue;
    text-align: center;
}
.title2{
    border: 20px;
    background-color:rgb(231, 113, 3);
    text-align: center;}
.title3{order: 20px;
    background-color:rgb(233, 177, 24);
    text-align: center;}
.title4{order: 20px;
    background-color:lightpink;
    text-align: center;}

#rcorners1 { 
    color:lightcoral;
    border-radius: 25px;
    border:2px seashell;
    background-color:white ;
    width: 50%;
    font-size: large;
    text-align: center; margin: auto; }

#centerwrapper{
    width:100%;   
}
#heart{ width: 40%; margin: 10px; position: absolute; z-index: 1; left: 30%; }

#blueheart{width: 30%; margin: auto; position: absolute; z-index: 2; top: 30%; left: 55%;}
#yelloworld{width: 30%; margin: auto; position: absolute; z-index: 3; top: 25%; left: 15%;}
#white{width: 30%; margin: auto; position:absolute; z-index: 4; top: 60%; left: 23%;}
#heartinfo{text-align: center; margin-top: 6in;}

#sky{width: 60%; margin: 10px; z-index: 1; position: absolute; left: 20%;}
#skyinfo{text-align: center; margin-top: 6.8in;}
#cats{width: 50%; margin: auto; position: absolute; z-index: 2; top: 30%; left: 20%;}
#catsfly{text-align: center; margin-top: 0.1in;}
#happy{width: 10%; margin: auto; position: absolute; z-index: 2; top: 120%; left: 70%;}
#happyface{text-align: center; margin-top: 0.1in;}
#happy1{width: 10%; margin: auto; position: absolute; z-index: 2; top: 100%; left: 70%;}

#cats1{width: 65%; margin: 10px; z-index: 1; position: absolute; left: 20%;}
#catsw{text-align: center; margin-top: 6.5in;}
#beach{width: 65%; margin: 10px; z-index: 1; position: absolute; left: 20%;}
#beachinfo{text-align: center; margin-top: 6.5in}
#candies{width: 65%; margin: 10px; z-index: 1; position: absolute; left: 20%;}
#candies1{text-align: center; margin-top: 6.5in}
#cat0{width: 10%; margin: auto; position: absolute; z-index: 2; top: 120%; right: 50%;}
#cat0info{text-align: center; margin-top: 0.1in;}
#sun{width:30%; margin: auto; position: absolute; z-index: 2; top: 35%; left: 55%;}
#candiecats{width: 10%; margin: auto; position: absolute; z-index: 2; top: 115%; right: 70%;}
#choco{width: 30%; margin: auto; position: absolute; z-index: 2; top: 77%; right: 35%;}

a:link{color: blueviolet}
a:visited{color:black}
a:hover{font-size: 1.5em}
